.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  height: 100px;
}

.Logo img {
  height: 100px;
}