.Skills-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/bg-lightbeam.png');
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeIn forwards .75s ease-in;
}

.Skills {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  animation: slideInBottom forwards .75s ease-out .25s;
}

.list-container {
  width: 40%;
  height: 50vh;
  /* margin: 30px; */
  padding: 30px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: .1rem;
  border: 1px solid white;
  border-radius: 10px;
}

.list-container h2 {
  margin-bottom: 20px;
}

.list-container ul li {
  list-style-type: circle;
  list-style-position: inside;
  font-size: 1.6rem;
  transition: all .2s ease;
}

.list-container ul li:hover {
  text-decoration: underline;
  letter-spacing: .15rem;
}

@media (max-width: 800px) {
  .Skills {
    width: 100%;
    height: 100vh;
    margin: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Skills section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .list-container {
    width: 90%;
    height: 300px;
    margin: 30px;
  }
  
  .list-container h2 {
    font-size: 1.8rem;
    
  }
}